*
{
    -fx-primary: #bedde0;
    -fx-grid: #333;
}

AnchorPane {
    -fx-background-color: -fx-primary;
}

GridPane {
    -fx-background-color: -fx-grid;
    -fx-vgap: 5px;
    -fx-hgap: 5px;
}

TilePane {
    -fx-background-color: -fx-grid;
    -fx-border-width: 3px;
    -fx-border-color: -fx-primary;
    -fx-vgap: 1px;
    -fx-hgap: 1px;
}

TilePane .button {
    -fx-background-image: url(/uttt/images/XGreen.png) no-repeat;
    -fx-pref-width: 46px;
    -fx-pref-height: 46px;
}

.active {
    -fx-border-color: red;
}

.x {
    -fx-background-image: url(/uttt/images/XBlue.png) no-repeat;
}

.o {
    -fx-background-image: url(/uttt/images/ORed.png) no-repeat;
}